body{
	background-image : url(images/background.png);
	background-size : 100%;
	text-align : center;
	font-family : Arial;
}

h1{
	color : #FF0000;
	text-shadow : 2px 2px 4px #000000;
}

input[value="Température"]{
	border-width : 4px 1px 1px 4px;
	border-color : #0000FF;
	background-color : #FFFF99;
	color : #808080;
	font-weight : bold;
	margin : 5px;
	font-size : 110%;
}

input[value="Tableau de bord"],input[value="Lumière"]{
	border-width : 4px 1px 1px 4px;
	margin : 5px;
	font-size : 110%;
}

#menu{
	display : flex;
	justify-content : center;
}

fieldset{
	background-color : #FFFACD;
	opacity : 80%;
	padding : 0px;
	text-align : left;
	margin  : 10px 50px 0px 50px;
	font-weight : bold;
}

legend{
	color : #0000FF;
	font-size : 20px;
	margin-left : 10px;
}

section{
	width : 50%;
	margin : 0 auto;
}

.ligne{
    border-top: 4px solid #0000FF;
    border-bottom: 4px solid #0000FF;
	width : 100%;
}

h2{
	color : #0000FF;
	text-align : center;
	text-decoration : underline;
}

em{
	color : #FF0000;
}

table{
	border-spacing : 0px 10px;
	width : 100%;
}

.name{
	background-color : #D3D3D3;
}

select{
	background : transparent;
	font-weight : bold;
}

option[value="temp1"]{
	color : #FF0000;
	background-color : #FFFF00;
	font-weight : bold;
}

option[value="temp2"]{
	color : #00FF00;
	background-color : #FFFF00;
	font-weight : bold;
}

option[value="temp3"]{
	color : #0000FF;
	background-color : #FFFF00;
	font-weight : bold;
}

input[name="val_min"],input[name="val_max"]{
	width : 130px;
}

#image_term{
	border : 4px dashed #000000;
	width : 140px;
	float : right;
}

input[value="Soumettre"]{
	width : 100%;
	border : 3px dotted #000000;
	background-color : #90EE90;
	font-weight : bold;
	font-size : 18px;
}

input[type="reset"]{
	width : 100%;
	border : 3px dotted #000000;
	background-color : #F49090;
	font-weight : bold;
	font-size : 18px;
}

#consignes{
	color : #FF0000;
	font-size : 14px;
	margin : 0;
}

a[href="https://yncrea.fr/"]{
	display: flex;
	justify-content: right;
	margin : 10px;
	font-size : 14px;
}

img[alt="Logo ISEN"]{
	width : 200px;
}